body {
    
    padding: 15;
    height: 100vh;
    background: url('https://photos.enjoei.com.br/front-lace-full-hd-premium-morena-iluminada-lisa-longa-75cm-112575576/800x800/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy8zODk4NDA1NC9hOTBiZDRmOGQ1MTgyMDc0YTFkMjQ1YTU1ZThmZDAwNC5qcGc') no-repeat center center/cover;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


.button {
    padding: 15px 30px;
    background-color: #ff69b4;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, transform 0.3s;
    margin-top: 20px;
}

.button:hover {
    background-color: #d14791;
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
 

    .button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 480px) {
  

    .button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

#logo {
    width: 10px;
    height: auto;
    width: 90%;
    max-width: 100%;
    height: auto;
    background-size: 30px 200px;
    margin-top: -55%;
    }
